<%= render :partial => 'layouts/header' %>

<h2>Frequently asked questions</h2>

<h3>I don't have JavaScript activated in my web browser. Can I still use the GPF website?</h3>
<p>
Yes, you can. Additionally, e-mail addresses will not be visible. See <%= link_to 'address munging', 'http://en.wikipedia.org/wiki/Address_munging' %> for details.
</p>

<%= render :partial => 'layouts/footer' %>
