<div style='height: 1em;' />
<div id='bottom'>
Genomic Peptide Finder &copy; 2004-<%= Date.today.year %> by Michael Hippler, Jens Allmer and Michael Specht. Questions or comments? Drop us <%= mail_to 'michael.specht@uni-muenster.de', 'a line', {:encode => 'javascript'} %>.
</div>

</body>
</html>
