<%= render :partial => 'layouts/header' %>

<% if @mb_ShowSidebar %>

	<div id='sidebar'>

	<% if !@mb_BatchProcessing %>

		<hr />
		<p>Try one of these queries:</p>
		<ul>
		<% @mk_DefaultQueries.each do |ls_Query| %>
			<li><%= link_to ls_Query, :action => 'query', 'peptide' => ls_Query %></li>
		<% end %>
		</ul>
		<hr />
		<p>...or type your own query here:</p>
		<% form_tag({:action => 'query', :id => ''}, :method => :post) do %>
			<%= text_field_with_label 'id' => 'peptide', 'label' => 'Peptide', 'default' => params['peptide'] %>
			<%= text_field_with_label 'id' => 'precursorMass', 'label' => 'Precursor mass', 'type' => 'int', 'default' => params['precursorMass'] %>
			<%= @parameters %>
			<div style='text-align: right; margin-top: 0.5em;'><%= submit_tag 'Find' %></div>
		<% end %>
		<hr />

	<% else %>

		<% form_tag({:action => 'query', :id => '', :multipart => true}, :method => :post) do %>
			<hr />
			<p>Query batch file:</p>
			<table class='query-form'><tr><td>
			<%= file_field 'upload', 'datafile', :size => 15 %>
			</td></tr></table>
			<hr />
			<p>Options:</p>
			<%= @parameters %>
			<hr />
			<div style='text-align: right; margin-top: 0.5em;'><%= submit_tag 'Submit' %></div>
		<% end %>
		<hr />

	<% end %>

	</div>

<% end %>

<%= yield %>

<%= render :partial => 'layouts/footer' %>
