<%= render :partial => 'layouts/header' %>

<h2>Download</h2>

<h3>Source code</h3>

<h3>Binaries</h3>

<p>
<%= link_to 'gpf-0.0.1-linux.tar.bz2', '/files/gpf-0.0.1-linux.tar.bz2' %>
</p>

<p>
<%= link_to 'gpf-0.0.1-win32.zip', '/files/gpf-0.0.1-win32.zip' %>
</p>

<%= render :partial => 'layouts/footer' %>
