<% if @mk_Results %>


<table>
<thead>
<th>Score</th>
<th>Left</th>
<th>Peptide</th>
<th>Right</th>
<th>Mass</th>
<th>Scaffold</th>
<th>Assembly</th>
</thead>
<% 

li_Index = 0
while (li_Index < @mk_Results.size)
	@mk_Results[li_Index]['moreCount'] = 0
	@mk_Results[li_Index]['moreId'] = -1
	@mk_Results[li_Index]['moreIdNext'] = -1
	li_Index += 1
end

li_MoreId = 0
li_Index = 0
while (li_Index < @mk_Results.size)
	if (li_Index < @mk_Results.size - 1)
		li_BaseIndex = li_Index
		@mk_Results[li_BaseIndex]['moreCount'] = 0
		while (li_Index < @mk_Results.size - 1 && @mk_Results[li_BaseIndex]['peptide'] == @mk_Results[li_Index + 1]['peptide'])
			li_MoreId += 1 if li_BaseIndex == li_Index
			@mk_Results[li_Index]['moreIdNext'] = li_MoreId if li_BaseIndex == li_Index
			@mk_Results[li_BaseIndex]['moreCount'] += 1
			@mk_Results[li_Index + 1]['moreId'] = li_MoreId
			li_Index += 1
		end
	end
	li_Index += 1
end

@mk_Results.each do |lk_Result|
%>
<tr 
<% if (lk_Result['moreId'] > -1) %>
style='display: none; border: 1px dashed #aaa; background-color: #f4f4f4' name='more<%=lk_Result['moreId']%>' id='more<%=lk_Result['moreId']%>'
<% end %>
>
<td style='text-align: right;'><%= lk_Result['score'] %>/<%= @mi_MaxScore %></td>
<td><span class='peptide-surroundings'><%=lk_Result['left']%></span></td>
<td><%= link_to lk_Result['displayPeptide'], :controller => 'browse', :action => 'showHit', :assembly => lk_Result['assembly'], :peptide => lk_Result['peptide'] %>
<%
if (lk_Result['moreCount'] > 0)
%>
<span class='linklike' onclick='toggleMore("more<%=lk_Result['moreIdNext']%>");'>(<%=lk_Result['moreCount']%> more)</span>
<%
end
%>
</td>
<td><span class='peptide-surroundings'><%=lk_Result['right']%></span></td>
<td style='text-align: right;'><%= sprintf('%1.2f', lk_Result['mass']) %></td>
<td><%= lk_Result['details']['parts'][0]['scaffold'] %></td>
<td><span class='assembly'><%= lk_Result['assembly'] %></span></td>
</tr>
<% end %>
</table>

<% else %>

<p>No results.</p>

<% end %>

<p>
Query processing took <%= @ms_Time %>.
</p>


<% form_tag({:action => 'resultDownload', :controller => 'search'}, :method => :post) do %>
	<%= hidden_field_tag 'contents', @ms_Fasta %>
	<%= hidden_field_tag 'filename', "#{@ms_QueryPeptide}.fasta" %>
	<!-- <input type='image' src='/images/plus.png' value='' />  -->
	<input type='image' src='/images/arrow.png' style='position: relative; top: 2px;'/> Download results as a fasta peptide database.
<% end %>

<% form_tag({:action => 'resultDownload', :controller => 'search'}, :method => :post) do %>
	<%= hidden_field_tag 'contents', @ms_YamlResponse %>
	<%= hidden_field_tag 'filename', "#{@ms_QueryPeptide}.yaml" %>
	<!-- <input type='image' src='/images/plus.png' value='' />  -->
	<input type='image' src='/images/arrow.png' style='position: relative; top: 2px;'/> Download results as a YAML document.
<% end %>
